.nav-container {
  background:rgb(78, 78, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    padding: 10px;
  }
}

.nav-links {
  font-size: 3rem;
  font-family: "Lobster", sans-serif;
  color: white;
  font-weight: 600;
  padding: 20px;
  text-decoration: none;

}

@media screen and (max-width: 400px) { 
  .nav-container {
    width: 450px;
  }
}